<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<div data-controller='hello'>
  <h1 data-target='hello.header'></h1>
</div>

<div data-controller='calendar'>
  <h1 data-target='calendar.calendar'></h1>
</div>

<!-- <div id='calendar'> </div> -->
